[core]
    # set VS Code as the default Git editor
    editor = "code ---wait"
    # Don't convert line endings to avoid pissing off Linux devs
    autocrlf = false
# See: https://code.visualstudio.com/docs/sourcecontrol/overview#_vs-code-as-git-editor
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = code
[mergetool "code"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
# Use SSH key for commit signing, partial snippet from: https://developer.1password.com/docs/ssh/git-commit-signing/
[gpg]
  format = ssh
[commit]
  gpgsign = true
# use main branch instead of master
[init]
  defaultBranch = main
# automatically set upstream origin
[push]
	autoSetupRemote = true
# use rebase method when pulling remote commits
[pull]
	rebase = true
# automatically clear up merge remnants
[mergetool]
	keepBackup = false
[alias]
    # shorthand for switch main && pull && switch - && rebase
    rebase-local = pull origin main:main --rebase
# See: https://bun.sh/guides/install/git-diff-bun-lockfile
[diff "lockb"]
	textconv = bun
	binary = true
# Set up by git-lfs
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true